@use '@madre/shared/variables.scss';

.IndexThinkResultSection {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  gap: 4rem;
  margin-top: 5rem;

  .image {
    flex: 1;
    display: flex;
  }

  .desc {
    flex: 1;
    display: flex;
    justify-content: flex-end;

    .desc-content {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      color: var(variables.$color-font1);
      line-height: 1.5;
      white-space: pre-line;

      p {
        font-size: 1.125rem;
        margin-top: 1rem;
        font-weight: 600;
      }
    }
  }

  @media (min-width: variables.$breakpoint-sl) {
    flex-direction: row-reverse;
    gap: 2rem;

    .desc {
      justify-content: center;
    }
  }
}
