@use '../../../../styles/variables';

.DropdownMenuItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem 1.25rem;
  min-width: 8rem;
  cursor: pointer;
  border-radius: 0.5rem;

  &:hover {
    background-color: var(variables.$color-bg-hover-element1);
  }
}
