@use '@madre/shared/variables.scss';

.section {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;

  & + & {
    margin-top: 2rem;
  }

  .image {
    margin-top: 3rem;

    img {
      width: 100%;
      height: auto;
    }
  }

  .desc {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-top: 3rem;
    white-space: pre-wrap;
    line-height: 1.5;

    .desc-content {
      display: flex;
      flex-direction: column;
      h3 {
        margin: 0;
      }
      h3,
      h4 {
        color: var(variables.$color-font1);
      }
    }
  }

  &:nth-of-type(even) .desc {
    justify-content: flex-end;
  }
}

@media (min-width: variables.$breakpoint-sm) {
  .section {
    flex-direction: row;

    & + & {
      margin-top: 4rem;
    }

    &:nth-of-type(even) {
      flex-direction: row-reverse;
    }

    .image {
      flex: 1;
    }

    .desc {
      margin-top: 0;
      margin-left: 1rem;
    }

    &:nth-of-type(even) .desc {
      justify-content: flex-start;
    }
  }
}

@media (min-width: variables.$breakpoint-lm) {
  .section:nth-of-type(even) .desc {
    justify-content: center;
  }
}
