@use '@madre/shared/variables.scss';

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 3rem;
  display: flex;
  justify-content: center;
}

.header-content {
  width: 93%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-link {
  color: var(variables.$color-gray120);
  font-size: 1.25rem;
  font-weight: 500;
}

@media (min-width: variables.$breakpoint-l) {
  .header-content {
    width: 768px;
  }
}

@media (min-width: variables.$breakpoint-xl) {
  .header-content {
    width: 1200px;
  }
}
