.Button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.15s;

  &:active:not([disabled]) {
    transform: scale(0.97, 0.95);
  }
  &[disabled] {
    cursor: not-allowed;
  }

  &.full-width {
    flex: 1;
    width: 100%;
  }

  &.small {
    height: 1.825rem;
    font-size: 0.9rem;
    padding: 0.25rem 0.725rem;
  }

  &.medium {
    height: 2rem;
    font-size: 1rem;
    padding: 0.25rem 0.725rem;
  }

  &.large {
    height: 2.5rem;
    font-size: 1.125rem;
    padding: 0.25rem 1.125rem;
  }

  &.radius-none {
    border-radius: 0;
  }

  &.radius-medium {
    border-radius: 0.5rem;
  }

  &.radius-full {
    border-radius: 2rem;
  }

  // solid
  &.solid {
    &.primary {
      color: var($color-white);
      background-color: var($color-blue100);
      border: 1px solid var($color-blue100);
      &:hover:not([disabled]) {
        background-color: var($color-blue110);
        border: 1px solid var($color-blue110);
      }
    }

    &.primary-low {
      color: var($color-blue110);
      background-color: var($color-blue40);
      border: 1px solid var($color-blue40);
      &:hover:not([disabled]) {
        background-color: var($color-blue50);
        border: 1px solid var($color-blue50);
      }
    }

    &.secondary {
      color: var($color-gray120);
      background-color: var($color-gray30);
      border: 1px solid var($color-gray30);
      &:hover:not([disabled]) {
        background-color: var($color-gray40);
        border: 1px solid var($color-gray40);
      }
    }

    &.warn {
      color: var($color-white);
      background-color: var($color-red90);
      border: 1px solid var($color-red90);
      &:hover:not([disabled]) {
        background-color: var($color-red100);
        border: 1px solid var($color-red100);
      }
    }

    &[disabled] {
      color: var($color-gray80);
      background-color: var($color-gray30);
      border: 1px solid var($color-gray30);
    }
  }

  // outline
  &.outline {
    &.primary {
      color: var($color-blue110);
      background-color: transparent;
      border: 1px solid var($color-blue100);
      &:hover:not([disabled]) {
        background-color: var($color-blue20);
        border: 1px solid var($color-blue110);
      }
    }

    &.primary-low {
      color: var($color-blue110);
      background-color: var($color-blue20);
      border: 1px solid var($color-blue100);
      &:hover:not([disabled]) {
        background-color: var($color-blue30);
      }
    }

    &.secondary {
      color: var($color-gray120);
      background-color: transparent;
      border: 1px solid var($color-gray80);
      &:hover:not([disabled]) {
        background-color: var($color-gray30);
      }
    }

    &.warn {
      color: var($color-red110);
      background-color: var($color-red20);
      border: 1px solid var($color-red100);
      &:hover:not([disabled]) {
        background-color: var($color-red30);
      }
    }

    &[disabled] {
      color: var($color-gray80);
      border: 1px solid var($color-gray30);
    }
  }

  // ghost
  &.ghost {
    &.primary {
      color: var($color-blue110);
      background-color: transparent;
      border: 1px solid transparent;
      &:hover:not([disabled]) {
        background-color: var($color-blue30);
      }
    }

    &.primary-low {
      color: var($color-blue110);
      background-color: transparent;
      border: 1px solid transparent;
      &:hover:not([disabled]) {
        background-color: var($color-gray30);
      }
    }

    &.secondary {
      color: var($color-gray120);
      background-color: transparent;
      border: 1px solid transparent;
      &:hover:not([disabled]) {
        background-color: var($color-gray30);
      }
    }

    &.warn {
      color: var($color-red110);
      background-color: transparent;
      border: 1px solid transparent;
      &:hover:not([disabled]) {
        background-color: var($color-red30);
      }
    }

    &[disabled] {
      color: var($color-gray80);
    }
  }
}
