@use '../../../../styles/mixins';
@use '../../../../styles/variables';

.DrawerContent {
  @include mixins.reset-ul;

  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 1rem;
  color: var(variables.$color-font2);
  background-color: var(variables.$color-bg-element1);
  z-index: variables.$zIndex-drawer;
}
