@use '../../../../styles/variables';

.DropdownMenuContent {
  position: relative;
  display: flex;
  color: var(variables.$color-font2);
  background-color: var(variables.$color-bg-element1);
  z-index: variables.$zIndex-dropdown;

  .items {
    position: absolute;
    top: 0.125rem;
    display: flex;
    flex-direction: column;
    list-style: none;
    min-width: 8rem;
    width: max-content;
    padding: 0.5rem;
    margin: 0;
    isolation: isolate;
    border-radius: 0.5rem;
    background-color: var(variables.$color-bg-element1);
    border: 1px solid var(variables.$color-border1);

    &.left {
      left: 0;
    }

    &.right {
      right: 0;
    }
  }
}
