.DropdownMenuContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  list-style: none;
  min-width: 8rem;
  padding: 0;
  margin: 0;
  border-radius: 0.25rem;
  isolation: isolate;
  border: 1px solid black;
}
