@use '@madre/shared/variables.scss';

.main {
  width: 93%;
  padding-top: 3rem;

  @media (min-width: variables.$breakpoint-l) {
    width: 768px;
    padding-top: 4rem;
  }

  @media (min-width: variables.$breakpoint-xl) {
    width: 1024px;
  }
}
