@use '../../../../styles/mixins';
@use '../../../../styles/variables';

.DrawerContent {
  @include mixins.reset-ul;

  position: fixed;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 1rem;
  // @TODO color 수정
  color: var(variables.$color-font2);
  background-color: var(variables.$color-bg-element1);
  z-index: variables.$zIndex-drawer;

  &.top {
    top: 0;
    left: 0;
    width: 100%;
  }

  &.right {
    top: 0;
    right: 0;
    width: 18.75rem;
    height: 100%;
  }

  &.bottom {
    left: 0;
    bottom: 0;
    width: 100%;
  }

  &.left {
    top: 0;
    left: 0;
    width: 18.75rem;
    height: 100%;
  }
}
